<div class="container">
    <div class="updatePage routinePage">
{{#if oily}}
{{#if ten}}
<div class="row">
    <p>Oily skin produces more oil than other skin types, so you should make sure to clean it regularly to avoid
        clogging of pores that may lead to blackheads, acne, blemishes and in the long term, enlargement of pores.</p>
    <div class="col-md-4">
        <h5>Cleanse</h5>
        <img src="/images/products.jpg" alt="product img" height="250" />
        <p>{{type.cleansers.10.name}}</p>

    </div>
    <div class="col-md-4">
        <h5>Moisturize</h5>
        <img src="/images/products.jpg" alt="product img" height="250" />
        <p>{{type.moisturizers.10.name}}</p>
    </div>
    <div class="col-md-4">
        <h5>Protect</h5>
        <img src="/images/products.jpg" alt="product img" height="250" />
        <p>{{type.sunProtection.10.name}}</p>
    </div>
    {{/if}}
    {{#if thirty}}
    <div class="row">
        <p>Oily skin produces more oil than other skin types, so you should make sure to clean it regularly to avoid
            clogging of pores that may lead to blackheads, acne, blemishes and in the long term, enlargement of pores.
        </p>
        <div class="col-md-4">
            <h5>Cleanse</h5>
            <img src="/images/products.jpg" alt="product img" height="250" />
            <p>{{type.cleansers.0.name}}</p>

        </div>
        <div class="col-md-4">
            <h5>Cleanse Again</h5>
            <img src="/images/products.jpg" alt="product img" height="250" />
            <p>{{type.cleansers.90.name}}</p>
        </div>
        <div class="col-md-4">
            <h5>Hydrate</h5>
            <img src="/images/products.jpg" alt="product img" height="250" />
            <p>{{type.serums.5.name}}</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Moisturize</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.moisturizers.20.name}}</p>
            </div>
            <div class="col-md-6">
                <h5>Protect</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.sunProtection.7.name}}</p>
            </div>
        </div>
        {{/if}}
        {{#if thirtyPlus}}
        <div class="row">
            <p>Oily skin produces more oil than other skin types, so you should make sure to clean it regularly to avoid
                clogging of pores that may lead to blackheads, acne, blemishes and in the long term, enlargement of
                pores.</p>
            <div class="col-md-4">
                <h5>Cleanse</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.cleansers.0.name}}</p>
            </div>
            <div class="col-md-4">
                <h5>Cleanse Again</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.cleansers.70.name}}</p>
            </div>
            <div class="col-md-4">
                <h5>Tone</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.toners.5.name}}</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Mask Up</h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.mask.5.name}}</p>
                </div>
                <div class="col-md-4">
                    <h5>Hydrate </h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.serums.20.name}}</p>
                </div>
                <div class="col-md-4">
                    <h5>Hydrate Again </h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.serums.7.name}}</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Moisturize</h5>
                        <img src="/images/products.jpg" alt="product img" height="250" />
                        <p>{{type.moisturizers.5.name}}</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Protect</h5>
                        <img src="/images/products.jpg" alt="product img" height="250" />
                        <p>{{type.sunProtection.19.name}}</p>
                    </div>
                    {{/if}}
                    {{/if}}



                    {{#if dry}}
                    {{#if ten}}
                    <div class="row">
                        <p>Dry skin has a harder time retaining moisture, because it does not produce as much natural oils. This makes this skin
                            type more vulnerable to wind, dust or sunlight. As a consequence the skin can often feel itchy, tight or flacky and
                            in the long run this can lead to early aging.</p>
                        <div class="col-md-4">
                            <h5>Cleanse</h5>
                            <img src="/images/products.jpg" alt="product img" height="250" />
                            <p>{{type.cleansers.10.name}}</p>
                    
                        </div>
                        <div class="col-md-4">
                            <h5>Moisturize</h5>
                            <img src="/images/products.jpg" alt="product img" height="250" />
                            <p>{{type.moisturizers.10.name}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5>Protect</h5>
                            <img src="/images/products.jpg" alt="product img" height="250" />
                            <p>{{type.sunProtection.10.name}}</p>
                        </div>
                        {{/if}}
                        {{#if thirty}}
                        <div class="row">
                            <p>Dry skin has a harder time retaining moisture, because it does not produce as much natural oils. This makes this skin
                                type more vulnerable to wind, dust or sunlight. As a consequence the skin can often feel itchy, tight or flacky and
                                in the long run this can lead to early aging.</p>
                            <div class="col-md-4">
                                <h5>Cleanse</h5>
                                <img src="/images/products.jpg" alt="product img" height="250" />
                                <p>{{type.cleansers.0.name}}</p>
                    
                            </div>
                            <div class="col-md-4">
                                <h5>Tone</h5>
                                <img src="/images/products.jpg" alt="product img" height="250" />
                                <p>{{type.toners.90.name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5>Hydrate</h5>
                                <img src="/images/products.jpg" alt="product img" height="250" />
                                <p>{{type.serums.5.name}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Moisturize</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.moisturizers.20.name}}</p>
                                </div>
                                <div class="col-md-6">
                                    <h5>Protect</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.sunProtection.7.name}}</p>
                                </div>
                            </div>
                            {{/if}}
                            {{#if thirtyPlus}}
                            <div class="row">
                            <p>Dry skin has a harder time retaining moisture, because it does not produce as much natural oils. This makes this skin
                                type more vulnerable to wind, dust or sunlight. As a consequence the skin can often feel itchy, tight or flacky and
                                in the long run this can lead to early aging.</p>
                                <div class="col-md-4">
                                    <h5>Cleanse</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.cleansers.0.name}}</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Tone</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.toners.70.name}}</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Nurture</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.serums.100.name}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5>Mask Up</h5>
                                        <img src="/images/products.jpg" alt="product img" height="250" />
                                        <p>{{type.mask.5.name}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Hydrate </h5>
                                        <img src="/images/products.jpg" alt="product img" height="250" />
                                        <p>{{type.serums.20.name}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Hydrate Again </h5>
                                        <img src="/images/products.jpg" alt="product img" height="250" />
                                        <p>{{type.serums.7.name}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Moisturize</h5>
                                            <img src="/images/products.jpg" alt="product img" height="250" />
                                            <p>{{type.moisturizers.5.name}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Protect</h5>
                                            <img src="/images/products.jpg" alt="product img" height="250" />
                                            <p>{{type.sunProtection.19.name}}</p>
                                        </div>
                                        {{/if}}
                                        {{/if}}


            {{#if sensitive}}
            <div class="row">
                <p>Sensitive skin is vulnurable to irritation, and readily reacts to any manipulation done to it. To prevent this, one
                    should be mindful of the ingredients used on their skin and try to keep their routine as simple as possible.</p>
                <div class="col-md-4">
                    <h5>Cleanse</h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.cleansers.58.name}}</p>       
                </div>
                <div class="col-md-4">
                    <h5>Moisturize</h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.moisturizers.20.name}}</p>
                </div>
                <div class="col-md-4">
                    <h5>Protect</h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.sunProtection.80.name}}</p>
                </div>
            {{/if}}
        {{#if normal}}
        {{#if ten}}
        <div class="row">
            <p>Normal skin is very balanced. The main goal for this skintype is maintanence and protection from the environment.</p>
            <div class="col-md-4">
                <h5>Cleanse</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.oily.cleansers.10.name}}</p>
        
            </div>
            <div class="col-md-4">
                <h5>Moisturize</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.dry.moisturizers.10.name}}</p>
            </div>
            <div class="col-md-4">
                <h5>Protect</h5>
                <img src="/images/products.jpg" alt="product img" height="250" />
                <p>{{type.oily.sunProtection.10.name}}</p>
            </div>
            {{/if}}
            {{#if thirty}}
            <div class="row">
                <p>Normal skin is very balanced. The main goal for this skintype is maintanence and protection from the environment.</p>
                <div class="col-md-4">
                    <h5>Cleanse</h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.oily.cleansers..0.name}}</p>
        
                </div>
                <div class="col-md-4">
                    <h5>Tone</h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.dry.toners.90.name}}</p>
                </div>
                <div class="col-md-4">
                    <h5>Hydrate</h5>
                    <img src="/images/products.jpg" alt="product img" height="250" />
                    <p>{{type.oily.serums.5.name}}</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Moisturize</h5>
                        <img src="/images/products.jpg" alt="product img" height="250" />
                        <p>{{type.dry.moisturizers.20.name}}</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Protect</h5>
                        <img src="/images/products.jpg" alt="product img" height="250" />
                        <p>{{type.oily.sunProtection.7.name}}</p>
                    </div>
                </div>
                {{/if}}
                {{#if thirtyPlus}}
                <div class="row">
                    <p>Normal skin is very balanced. The main goal for this skintype is maintanence and protection from the environment.</p>
                    <div class="col-md-4">
                        <h5>Cleanse</h5>
                        <img src="/images/products.jpg" alt="product img" height="250" />
                        <p>{{type.oily.cleansers.0.name}}</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Tone</h5>
                        <img src="/images/products.jpg" alt="product img" height="250" />
                        <p>{{type.dry.toners.70.name}}</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Nurture</h5>
                        <img src="/images/products.jpg" alt="product img" height="250" />
                        <p>{{type.oily.serums.100.name}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Mask Up</h5>
                            <img src="/images/products.jpg" alt="product img" height="250" />
                            <p>{{type.dry.mask.5.name}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5>Hydrate </h5>
                            <img src="/images/products.jpg" alt="product img" height="250" />
                            <p>{{type.oily.serums.20.name}}</p>
                        </div>
                        <div class="col-md-4">
                            <h5>Hydrate Again </h5>
                            <img src="/images/products.jpg" alt="product img" height="250" />
                            <p>{{type.dry.serums.7.name}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Moisturize</h5>
                                <img src="/images/products.jpg" alt="product img" height="250" />
                                <p>{{type.oily.moisturizers.5.name}}</p>
                            </div>
                            <div class="col-md-6">
                                <h5>Protect</h5>
                                <img src="/images/products.jpg" alt="product img" height="250" />
                                <p>{{type.dry.sunProtection.19.name}}</p>
                            </div>
                            {{/if}}
                            {{/if}}

                            {{#if combination}}
                            {{#if ten}}
                            <div class="row">
                                <p>Combination skin is defined by some parts that are oily, T-zone for example, and others that are dry. In this case,
                                    it is ideal to spot treat accordingly. </p>
                                <div class="col-md-4">
                                    <h5>Cleanse</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.oily.cleansers.10.name}}</p>
                            
                                </div>
                                <div class="col-md-4">
                                    <h5>Moisturize</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.dry.moisturizers.10.name}}</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Protect</h5>
                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                    <p>{{type.oily.sunProtection.10.name}}</p>
                                </div>
                                {{/if}}
                                {{#if thirty}}
                                <div class="row">
                                    <p>Combination skin is defined by some parts that are oily, T-zone for example, and others that are dry. In this case,
                                        it is ideal to spot treat accordingly. </p>
                                    <div class="col-md-4">
                                        <h5>Cleanse</h5>
                                        <img src="/images/products.jpg" alt="product img" height="250" />
                                        <p>{{type.oily.cleansers..0.name}}</p>
                            
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Tone</h5>
                                        <img src="/images/products.jpg" alt="product img" height="250" />
                                        <p>{{type.dry.toners.90.name}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Hydrate</h5>
                                        <img src="/images/products.jpg" alt="product img" height="250" />
                                        <p>{{type.oily.serums.5.name}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Moisturize</h5>
                                            <img src="/images/products.jpg" alt="product img" height="250" />
                                            <p>{{type.dry.moisturizers.20.name}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Protect</h5>
                                            <img src="/images/products.jpg" alt="product img" height="250" />
                                            <p>{{type.oily.sunProtection.7.name}}</p>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if thirtyPlus}}
                                    <div class="row">
                                        <p>Combination skin is defined by some parts that are oily ,T-zone for example, and others that are dry. In this case,
                                            it is ideal to spot treat accordingly. </p>
                                        <div class="col-md-4">
                                            <h5>Cleanse</h5>
                                            <img src="/images/products.jpg" alt="product img" height="250" />
                                            <p>{{type.oily.cleansers.0.name}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Tone</h5>
                                            <img src="/images/products.jpg" alt="product img" height="250" />
                                            <p>{{type.dry.toners.70.name}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Nurture</h5>
                                            <img src="/images/products.jpg" alt="product img" height="250" />
                                            <p>{{type.oily.serums.100.name}}</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5>Mask Up</h5>
                                                <img src="/images/products.jpg" alt="product img" height="250" />
                                                <p>{{type.dry.mask.5.name}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <h5>Hydrate </h5>
                                                <img src="/images/products.jpg" alt="product img" height="250" />
                                                <p>{{type.oily.serums.20.name}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <h5>Hydrate Again </h5>
                                                <img src="/images/products.jpg" alt="product img" height="250" />
                                                <p>{{type.dry.serums.7.name}}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5>Moisturize</h5>
                                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                                    <p>{{type.oily.moisturizers.5.name}}</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5>Protect</h5>
                                                    <img src="/images/products.jpg" alt="product img" height="250" />
                                                    <p>{{type.dry.sunProtection.19.name}}</p>
                                                </div>
                                                {{/if}}
                                                {{/if}}

    <div class="row">
        <div class="col-md-6">
            <form action="saveRoutine" method="POST"></form>
            <a href="http://www.sephora.com/shop/skincare"><button class="btn btn-outline-danger sm-lg">Go Shopping</button></a>
        </div>
        <div class="col-md-6">
            <a href="/quiz1"><button class="btn btn-outline-danger sm-lg">Do it again!</button></a>
        </div>
    </div>

        <div class="row">
            <h3>Based on your goals for your skin, here are some more product recommendations:</h3>
        {{#if prevention}}
        <div class="col-md-4">
            <img src="/images/products.jpg" alt="product img" height="250" />
            <p>{{type.sunProtection.19.name}}</p>
        </div>
        <div class="col-md-4">
            <img src="/images/products.jpg" alt="product img" height="250" />
            <p>{{type.masks.19.name}}</p>
        </div>
        <div class="col-md-4">
            <img src="/images/products.jpg" alt="product img" height="250" />
            <p>{{type.serums.19.name}}</p>
        </div>

        {{/if}}

        {{#if keeping}}
<div class="col-md-4">
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.moisturizers.70.name}}</p>
</div>
<div class="col-md-4">
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.moisturizers.200.name}}</p>
</div>
<div class="col-md-4">
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.moisturizers.300.name}}</p>
</div>
        {{/if}}

        {{#if helping}}
<div class="col-md-4">
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.serums.70.name}}</p>
</div>
<div class="col-md-4">
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.serums.200.name}}</p>
</div>
<div class="col-md-4">
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.serums.300.name}}</p>
</div>
        {{/if}}
        
        </div>
    </div>


</div>





{{!-- <h1>My Routine</h1>
{{#if oily}}
<div class="row">
    <p>Oily skin produces more oil than other skin types, so you should make sure to clean it regularly to avoid clogging of pores that may lead to blackheads, acne, blemishes and in the long term, enlargement of pores.</p>
<div class="col-md-4">
    <h5>Cleanse</h5>
    <img src="/images/products.jpg" alt="product img" height="250"/>
    <p>{{type.cleansers.0.name}}</p>

</div>
<div class="col-md-4">
    <h5>Moisturize</h5>
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.moisturizers.0.name}}</p>
</div>
<div class="col-md-4">
    <h5>Protect</h5>
    <img src="/images/products.jpg" alt="product img" height="250" />
    <p>{{type.sunProtection.0.name}}</p>
</div>
{{/if}}

{{#if dry}}
<div class="row">
    <p>Dry skin has a harder time retaining moisture, because it does not produce as much natural oils. This makes this skin type more vulnerable to wind, dust or sunlight. As a consequence the skin can often feel itchy, tight or flacky and in the long run this can lead to early aging.</p>
    <div class="col-md-4">
        <h5>Cleanse</h5>
<img href="/images/products.jpg" alt="product img" />
        <p>{{type.cleansers.0.name}}</p>

    </div>
    <div class="col-md-4">
        <h5>Moisturize</h5>
        <img href="/images/products.jpg" alt="product img" />
        <p>{{type.moisturizers.0.name}}</p>
    </div>
    <div class="col-md-4">
        <h5>Protect</h5>
        <img href="/images/products.jpg" alt="product img" />
        <p>{{type.sunProtection.0.name}}</p>
    </div>
{{/if}}

{{#if combination}}
<div class="row">
    <p>Combination skin is defined by some parts that are oily (T-zone for example) and others that are dry. In this case, it is ideal to spot treat accordingly. </p>
    <div class="col-md-4">
        <h5>Cleanse</h5>
        <img href="/images/products.jpg" alt="product img" />
        <p>{{type.cleansers.0.name}}</p>

    </div>
    <div class="col-md-4">
        <h5>Moisturize</h5>
        <img href="/images/products.jpg" alt="product img" />
        <p>{{type.moisturizers.0.name}}</p>
    </div>
    <div class="col-md-4">
        <h5>Protect</h5>
        <img href="/images/products.jpg" alt="product img" />
        <p>{{type.sunProtection.0.name}}</p>
    </div>
    {{/if}}

{{#if sensitive}}
<div class="row">
    <p>Sensitive skin is vulnurable to irritation, and readily reacts to any manipulation done to it. To prevent this, one should be mindful of the ingredients used on their skin and try to keep their routine as simple as possible.</p>
    <div class="col-md-4">
        <h5>Cleanse</h5>
        <img href="/images/products.jpg" alt="product img" />
        <p>{{type.cleansers.0.name}}</p>

    </div>
    <div class="col-md-4">
        <h5>Moisturize</h5>
        <p>{{type.moisturizers.0.name}}</p>
    </div>
    <div class="col-md-4">
        <h5>Protect</h5>
        <p>{{type.sunProtection.0.name}}</p>
    </div>
    {{/if}}

    {{#if normal}}
    <div class="row">
        <p>Normal skin is very balanced. The main goal for this skintype is maintanence and protection from the environment.</p>
        <div class="col-md-4">
            <h5>Cleanse</h5>
            <p>{{type.cleansers.0.name}}</p>
    
        </div>
        <div class="col-md-4">
            <h5>Moisturize</h5>
            <p>{{type.moisturizers.0.name}}</p>
        </div>
        <div class="col-md-4">
            <h5>Protect</h5>
            <p>{{type.sunProtection.0.name}}</p>
        </div>
        {{/if}}
     
   
</div>
<div class="row">
    <h3>Based on your goals for your skin, here are some more product recommendations:</h3>
    
    
        {{#each type.serums}}
        <div class="col-md-4"></div>
        <p>{{name}} by {{brand}}</p>
        </div>
        {{/each}}
        
    
</div>
 --}}