
<div class="updatePage productDet">
<h1>{{name}}</h1>
<p>Ingredients: {{ingredient_list}}</p>
<p> Brand : {{brand}}</p>
{{#if imageUrl}}
<img src="{{imageUrl}}" />
{{else}}
<img src="/images/products.jpg" alt="product img" height="250px"/>
{{/if}}

<hr>
<div class="row">
    <div class="col-md-6">
        <a href="/products/{{id}}/edit"><button class="btn btn-dark sm-lg">Edit Product</button></a>
    </div>
    <div class="col-md-6">
<form action="/favorites/{{id}}" method="POST">
    <button class="btn btn-dark sm-lg">Add to Favorites</button>
</form>
    </div>
</div>

<hr>

<p>Add a review</p>
<form action="/comments/{{id}}" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Comment</label>
    <textarea name="comment" cols="40" rows="7"></textarea>

    <button type="submit">Add review</button>
</form>
<hr>
{{#each comments}}
<p>{{name}} - "{{comment}}"</p>
{{/each}}
</div>

