<div class="updatePage productDet">
<<<<<<< HEAD
    <h1>{{name}}</h1>
    <p>Ingredients: {{ingredient_list}}</p>
    <p> Brand : {{brand}}</p>
    {{#if imageUrl}}
    <img src="{{imageUrl}}" />
    {{/if}}
=======
<h1>{{name}}</h1>
<p>Ingredients: {{ingredient_list}}</p>
<p> Brand : {{brand}}</p>
{{#if imageUrl}}
<img src="{{imageUrl}}" />
{{else}}
<img src="/images/products.jpg" alt="product img" height="250px"/>
{{/if}}
>>>>>>> ac6c46cd08fda699079c14c6a4da04210615cdf4

    <hr>
    <div class="row">
        <div class="col-md-6">
            <a href="/products/{{id}}/edit"><button class="btn btn-dark sm-lg">Edit Product</button></a>
        </div>
        <div class="col-md-6">
            <form action="/favorites/{{id}}" method="POST">
                <button class="btn btn-dark sm-lg">Add to Favorites</button>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-6">
            <form action="/comments/{{id}}" method="POST">
                <label>Name</label>
                <input type="text" name="name" />
        </div>
        <div class="col-md-6">
            <label>Comment</label>
            <textarea name="comment" cols="40" rows="1"></textarea>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 addAReview">
            <button type="submit" class="btn btn-dark sm-lg">Add review</button>
        </div>
    </div>

    <hr>

    <div class="row">
        {{#each comments}}
        <div class="col-md-12">
            <p>{{name}} - "{{comment}}"</p>
        </div>
        {{/each}}
    </div>

</div>