<h1>Products list</h1>

<ul>
{{#each added}}

<li>
    <a href="/our-products/{{id}}"> {{name}} </a>
    <br/>
    
      {{#if loggedInUser}}
      <form action="/products/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    {{/if}}
</li>
{{/each}}
</ul>


<ul>
{{#each products}}

<li>
    <a href="products/{{id}}"> {{name}} </a>
    <br/>
    
      
</li>
{{/each}}
</ul>





 
   
